/* .container{
    margin-top:25px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.font-link{
    font-family: 'Raleway', sans-serif;
}

.content{
    width:1146px;
    text-align: justify;
}
.img{
    padding:25px;
}

.image{
    border: 5px solid grey;
}
.mainheading{
    text-align: center;
    margin-top: 10px;
    font-size: 45px;
    font-weight: 300;
    line-height: 1.6;
}
.display{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
} */