.navbar-custom {
    background: rgb(29, 29, 29);
}
  
  .navbar-light {
}
  
  #signup {
    margin: 0 10px;
  }
  .signuptext {
    text-decoration: none;
    color: inherit;
  }
  @media screen and (max-width: 991px) {
    #signup {
      margin: 10px 0;
    }
  }
  .st {
    position: absolute;
  }
  